body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

header h1{
    background-color: rgba(255,255,255,0.5);
    padding: 20px 0;
}

#logo {
    height: auto;
    max-width: 90%;
}

#logo2 {
    max-width: 100px;
    height: auto;
}

nav {
    width: 100%;
    padding: 0 0 100px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #495057;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #6c757d;
}

.nav-link{
    padding: 3rem 1rem;
    text-align: center;
    border-radius: 15px;
    border: 5px solid white;
    font-size: 1.1em;
}

footer{
    background: white;
    text-align: center;
}

.footer img{margin:30px auto;}

@media (min-width: 768px) {
    #logo {
        max-width: 50%;
    }
}